<!DOCTYPE html>
<html lang="en" class="full-h">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <title>一个“噢买瓜”的故事</title>
        <script src="https://vm.gtimg.cn/tencentvideo/txp/js/txplayer.js"></script>
        <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    </head>
    <body class="full-h">
        <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
    </body>
</html>
