/* 2020/08/21 build */
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* ios 禁止高亮 */
    -webkit-font-smoothing: antialiased; /* 字体抗锯齿 */
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: none;
    overflow: hidden;
}

body {
    font-size: 0;
    // line-height: 0;
    background: #fff;
    overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, form, input, textarea, select, button, table, th, td, tr, dl, dd {
    margin: 0;
    padding: 0;
    border: 0;
}

video {
    background: #000;
    object-fit: fill;
}
