.page-choose {
	.box-swiper {
		.farmers {
			.btn-prev {
				animation: breath 1s linear 0.2s infinite;
			    -webkit-animation: breath 1s linear 0.2s infinite;
			    -moz-animation: breath 1s linear 0.2s infinite;
			    -ms-animation: breath 1s linear 0.2s infinite;
			    animation-play-state: running;
				width: 16%;
				height: 8%;
				top: 1.6%;
				left: 42%;
				background: url('../img/common/arrowl.png') no-repeat;
				background-size: 100% auto;
			}
			.btn-next {
				animation: breath 1s linear 0.2s infinite;
			    -webkit-animation: breath 1s linear 0.2s infinite;
			    -moz-animation: breath 1s linear 0.2s infinite;
			    -ms-animation: breath 1s linear 0.2s infinite;
			    animation-play-state: running;
				width: 16%;
				height: 6%;
				top: 68.4%;
				left: 42%;
				background: url('../img/common/arrowr.png') no-repeat;
				background-size: 100% auto;
			}
			.pagin {
				width: 0.06rem;
				// top: 63%;
				left: 4.2%;
				z-index: 1;
				.item {
					height: 0.32rem;
					margin: 0.02rem 0;
					border-radius: 1rem;
					background: #a7a9ac;
				}
				.active {
					background: #1ba4aa;
				}
			}
		}
		.btn {
			width: 9.6%;
			right: 4.6%;
		}
		.btn1 {
			top: 9%;
		}
		.btn2 {
			top: 47%;
		}
		.tip {
			width: 15.6%;
		}
	}
	.modal {
		background: rgba(0, 0, 0, 0.9);
		z-index: 1;
		.content {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.modal-thank {
		.box-list {
			width: 44.8%;
		}
	}
	.modal-donate {
		.btn-donate {
			width: 16%;
			top: 19%;
			left: 28%;
		}
		.btn-close {
			width: 10.8%;
			top: 42.2%;
			left: 16%;
		}
	}
	.modal-poster {
		div.rel {
			width: 89.334%;
		}
		.box-pic {
			width: 89.334%;
		}
		.tip-p, .btn-close {
			top: 100%;
		}
		.btn-close {
			width: 7.168%;
		}
		.posters {
			opacity: 0;
		}
	}
}
