/* 2020/02/27 build */
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
}
/* abs */
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* center */
.center {
	margin-left: auto;
	margin-right: auto;
}
/* text */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* width */
.full-w {
	width: 100%;
}
.full-h {
	height: 100%;
}
.hide {
	display: none;
}
/* fade */
.fade-enter {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
.fade-enter-active {
    transition: 0.4s;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-to {
    opacity: 0;
}
.fade-leave-active {
    transition: 0.4s;
}
#app {
	background: url('../img/common/bg.jpg') center center no-repeat;
	background-size: cover;
}
@-webkit-keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
