.page-home {
	.fruit1 {
		width: 40.667%;
		top: -8.8%;
		left: -6.2%;
	}
	.fruit2 {
		width: 18.4%;
		top: 5.6%;
		right: 12.2%;
		transform: rotate(190deg);
	}
	.fruit3 {
		width: 52.8%;
		top: 73.8%;
		left: -14%;
	}
	.fruit4 {
		width: 23.2%;
		top: 90.8%;
		left: 46.4%;
		transform: rotate(86deg);
	}
	.fruit5 {
		width: 50.534%;
		top: 65%;
		right: -20%;
	}
	.logo {
		width: 15%;
		top: 1%;
	}
	.box-text {
		width: 60.667%;
		top: 6.6%;
		left: 13.6%;
	}
	.btn-play {
		animation: breath 1s linear 0.2s infinite;
	    -webkit-animation: breath 1s linear 0.2s infinite;
	    -moz-animation: breath 1s linear 0.2s infinite;
	    -ms-animation: breath 1s linear 0.2s infinite;
	    animation-play-state: running;
		width: 25.054%;
		top: 39.4%;
	}
	.modal {
		background: rgba(0, 0, 0, 1);
	}
	.modal-play {
		.content {
			display: flex;
			justify-content: center;
			align-items: center;
			#player {
				width: 177.778%;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(90deg);
			}
			.btn-skip {
				top: 88%;
				right: -2%;
				color: #fff;
				font-size: 0.34rem;
				line-height: 0.36rem;
				padding: 0.1rem 0.3rem;
				border-radius: 0.1rem;
				background: rgba(0, 0, 0, 0.5);
				transform: rotate(90deg); 
			}
		}
	}
}
