.page-intro {
	.box-text {
		top: 9%;
		img {
			display: block;
		}
		.btn-next {
			animation: breath 1s linear 0.2s infinite;
		    -webkit-animation: breath 1s linear 0.2s infinite;
		    -moz-animation: breath 1s linear 0.2s infinite;
		    -ms-animation: breath 1s linear 0.2s infinite;
		    animation-play-state: running;
			width: 16%;
			margin-top: 7.2%;
		}
		.tip {
			width: 15.6%;
			margin-top: 9%;
		}
	}
}
