.page-loading {
	.fruit1 {
		width: 40.667%;
		top: -8.8%;
		left: -6.2%;
	}
	.fruit2 {
		width: 18.4%;
		top: 5.6%;
		right: 12.2%;
		transform: rotate(190deg);
	}
	.fruit3 {
		width: 52.8%;
		top: 73.8%;
		left: -14%;
	}
	.fruit4 {
		width: 23.2%;
		top: 90.8%;
		left: 46.4%;
		transform: rotate(86deg);
	}
	.fruit5 {
		width: 50.534%;
		top: 65%;
		right: -20%;
	}
	.logo {
		width: 15%;
		top: 1%;
	}
	.box-text {
		width: 31.2%;
		top: 6.4%;
		left: 33.2%;
		.box-bar {
			width: 20%;
			height: 74%;
			background: #e7e7e8;
			border-radius: 1rem;
			border: 0.04rem solid #fff;
			overflow: hidden;
			.bar {
				height: 0%;
				left: -0.01rem;
				background: #1ba4aa;
				border-radius: 1rem;
				border: 0.02rem solid #fff;
				box-sizing: content-box;
			}
		}
		.tip {
			width: 20.513%;
		}
	}
}
