<style lang="scss" scoped src="@/assets/css/choose.scss"></style>

<template>
	<div class="page-choose abs top left full-w full-h">
        <!-- swiper -->
        <div class="box-swiper abs top left full-w full-h text-center">
        	<div class="swiper-container farmers full-h">
        		<div class="swiper-wrapper">
        			<div class="swiper-slide rel">
        				<div class="rel">
	                    	<img class="full-w" ref="pic" src="@/assets/img/choose/farmer1.jpg">
		                    <img class="btn btn1 abs" @click="modalDonate()"  src="@/assets/img/choose/btn1.png">
		                    <img class="btn btn2 abs" @click="modalPoster(0)" src="@/assets/img/choose/btn2.png">
		                    <div class="btn-next abs" @click="toNext"></div>
		                </div>
	                </div>
	                <div class="swiper-slide rel">
	                	<div class="rel">
		                    <img class="full-w" src="@/assets/img/choose/farmer2.jpg">
		                    <img class="btn btn1 abs" @click="modalDonate()" src="@/assets/img/choose/btn1.png">
	                    	<img class="btn btn2 abs" @click="modalPoster(1)" src="@/assets/img/choose/btn2.png">
	                    	<div class="btn-prev abs" @click="toPrev"></div>
	                    	<div class="btn-next abs" @click="toNext"></div>
		                </div>
	                </div>
	                <div class="swiper-slide rel">
	                	<div class="rel">
		                    <img class="full-w" src="@/assets/img/choose/farmer3.jpg">
		                    <img class="btn btn1 abs" @click="modalDonate()" src="@/assets/img/choose/btn1.png">
	                    	<img class="btn btn2 abs" @click="modalPoster(2)" src="@/assets/img/choose/btn2.png">
	                    	<div class="btn-prev abs" @click="toPrev"></div>
	                    	<div class="btn-next abs" @click="toThank"></div>
		                </div>
	                </div>
        		</div>
				<div class="pagin abs">
					<div class="item item1" :class="{active: index == 0}"></div>
					<div class="item item2" :class="{active: index == 1}"></div>
					<div class="item item3" :class="{active: index == 2}"></div>
				</div>
        	</div>
        </div>
        <!-- modal thank -->
		<transition name="fade" mode="out-in">
		    <div class="modal modal-thank abs top left full-w full-h" @click="closeModalThank" v-show="thankShow">
		    	<div class="content abs top left full-w full-h">
		    		<div class="box-list">
				    	<img class="full-w" src="@/assets/img/choose/list.png">
				    </div>
			    </div>
		    </div>
		</transition>
        <!-- modal donate -->
        <transition name="fade" mode="out-in">
		    <div class="modal modal-donate abs top left full-w full-h" @click="closeModalDonate" v-show="donateShow">
		    	<div class="content abs top left full-w full-h">
		    		<div class="rel">
				    	<img class="full-w" src="@/assets/img/choose/text.png">
				    	<a href="https://ssl.gongyi.qq.com/m/weixin/gopaylts.html?pid=223079&bid=100000359&sign=18d471fbf90698e4b028c73b26467578&et=omg" target="_blank" @click.stop="toTX">
					    	<img class="btn-donate abs" src="@/assets/img/choose/btn-donate.png">
					    </a>
				    	<img class="btn-close abs" src="@/assets/img/choose/close.png">
				    </div>
			    </div>
		    </div>
		</transition>
        <!-- modal poster -->
        <transition name="fade" mode="out-in">
		    <div class="modal modal-poster abs top left full-w full-h" @click="closeModalPoster" v-show="posterShow">
		    	<div class="content abs top left full-w full-h">
		    		<div class="rel">
				    	<img class="full-w" v-if="posterIndex == 0" src="@/assets/img/choose/preview1.jpg">
				    	<img class="full-w" v-if="posterIndex == 1" src="@/assets/img/choose/preview2.jpg">
				    	<img class="full-w" v-if="posterIndex == 2" src="@/assets/img/choose/preview3.jpg">
				    	<img class="tip-p abs left full-w" src="@/assets/img/choose/tip-p.png">
				    	<img class="btn-close abs right" src="@/assets/img/choose/close.png">
				    </div>
			    </div>
			    <div class="posters abs top left full-w">
			    	<img class="full-w" v-if="posterIndex == 0" src="@/assets/img/choose/poster1.jpg">
			    	<img class="full-w" v-if="posterIndex == 1" src="@/assets/img/choose/poster2.jpg">
			    	<img class="full-w" v-if="posterIndex == 2" src="@/assets/img/choose/poster3.jpg">
			    </div>
		    </div>
		</transition>
	</div>
</template>

<script src="@/assets/js/choose.js"></script>
