<style lang="scss" scoped src="@/assets/css/home.scss"></style>

<template>
	<div class="page-home abs top left full-w full-h">
        <!-- bg -->
        <img class="fruit1 abs" src="@/assets/img/common/fruit1.png">
        <img class="fruit2 abs" src="@/assets/img/common/fruit2.png">
        <img class="fruit3 abs right" src="@/assets/img/common/fruit3.png">
        <img class="fruit4 abs" src="@/assets/img/common/fruit2.png">
        <img class="fruit5 abs" src="@/assets/img/common/fruit2.png">
        <!-- logo -->
        <img class="logo abs right" src="@/assets/img/common/logo.png">
        <div class="box-text abs">
	        <!-- text -->
	        <img class="text full-w" src="@/assets/img/home/text.png">
	        <!-- play -->
	        <img class="btn-play abs left" @click="toPlay" src="@/assets/img/home/play.png">
	    </div>
		<transition name="fade" mode="out-in">
		    <div class="modal modal-play abs top left full-w full-h" v-show="show">
		    	<div class="content abs top left full-w full-h">
			    	<div id="player"></div>
			    	<button type="button" class="btn-skip abs hide" @click.stop="skip">跳过</button>
			    </div>
		    </div>
		</transition>
	</div>
</template>

<script src="@/assets/js/home.js"></script>
