<style lang="scss" scoped src="@/assets/css/intro.scss"></style>

<template>
	<div class="page-intro abs top left full-w full-h">
        <div class="box-text abs left full-w">
	        <!-- text -->
	        <img class="text full-w" src="@/assets/img/intro/text.png">
	        <!-- next -->
	        <img class="btn-next center" @click="toNext" src="@/assets/img/common/arrowr.png">
	        <!-- tip -->
	        <img class="tip center" src="@/assets/img/common/tip.png">
	    </div>
	</div>
</template>

<script src="@/assets/js/intro.js"></script>
