<style lang="scss" scoped src="@/assets/css/loading.scss"></style>

<template>
    <div class="page-loading abs top left full-w full-h">
        <!-- bg -->
        <img class="fruit1 abs" src="@/assets/img/common/fruit1.png">
        <img class="fruit2 abs" src="@/assets/img/common/fruit2.png">
        <img class="fruit3 abs right" src="@/assets/img/common/fruit3.png">
        <img class="fruit4 abs" src="@/assets/img/common/fruit2.png">
        <img class="fruit5 abs" src="@/assets/img/common/fruit2.png">
        <!-- logo -->
        <img class="logo abs right" src="@/assets/img/common/logo.png">
        <!-- text -->
        <div class="box-text abs">
        	<img class="title full-w" src="@/assets/img/loading/title.png">
        	<div class="box-bar abs bottom left">
        		<div class="bar abs top left full-w"></div>
        	</div>
        	<img class="tip abs bottom left" src="@/assets/img/loading/tip.png">
        </div>
    </div>
</template>

<script src="@/assets/js/loading.js"></script>
